<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparkt | A Creative & Digital Marketing Agency in Mumbai</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/favicon/._apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Sparkt | A Creative & Digital Marketing Agency in Mumbai, India">
    <meta name="keywords" content="digital agency, creative agency, SMO, SEO, SEM, programmatic media buying, analytics, website design, website development">
    <meta name="description" content="Sparkt is a collaboration of data sciences and emotional intelligence to bridge need gaps with creative and experiential solutions both for brands and consumers.">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Html.Raw("@")Sparkt">
    <meta name="twitter:title" content="Sparkt | A Creative & Digital Marketing Agency in Mumbai, India">
    <meta name="twitter:description" content="Sparkt is a collaboration of data sciences and emotional intelligence to bridge need gaps with creative and experiential solutions both for brands and consumers.">
    <meta name="twitter:creator" content="@Html.Raw("@")Sparkt">
    <meta name="twitter:image" content="http://sparkt.in/Content/images/spakt.png" />
    <!-- Open Graph data -->
    <meta property="og:title" content="Sparkt | A Creative & Digital Marketing Agency in Mumbai, India" />
    <meta property="og:url" content="http://www.sparkt.in" />
    <meta property="og:description" content="Sparkt is a collaboration of data sciences and emotional intelligence to bridge need gaps with creative and experiential solutions both for brands and consumers." />
    <meta property="og:site_name" content="@Html.Raw("@")Sparkt" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="306588899709911" />
    <meta property="og:image" content="http://sparkt.in/Content/images/spakt.png" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Sparkt | A Creative & Digital Marketing Agency in Mumbai, India">
    <meta itemprop="description" content="Sparkt is a collaboration of data sciences and emotional intelligence to bridge need gaps with creative and experiential solutions both for brands and consumers.">
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/css/reset.css" />
    @*<link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/intro-page/css/demo.css" />*@
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/materialize/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/tabs-accordion/css/easy-responsive-tabs.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/css/hover-min.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/mediaelementplayer/css/mediaelementplayer.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/mediaelementplayer/css/airplay.min.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/swiper-4.2.6/css/swiper.min.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/plugins/malihu-custom-scrollbar/css/jquery.mCustomScrollbar.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/css/common.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="~/Content/css/hompage.css" />

    <script src='https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit' async defer></script>
    <script src="~/Scripts/User/GoogleCaptcha.js"></script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "http://www.sparkt.in/",
        "logo": "https://www.sparkt.in//Content/images/spakt.png"
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "http://www.sparkt.in/",
        "name": "Sparkt",
        "sameAs": [
        "https://www.facebook.com/sparktindia",
        "https://twitter.com/sparktindia",
        "https://in.linkedin.com/company/sparkt-india",
        "https://www.youtube.com/c/SparktIndia"
        ]
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context":"http://schema.org",
        "@@type":"ItemList",
        "itemListElement":
        [
        { "@@type":"ListItem", "position":1,"url":"https://www.sparkt.in//Content/work/images/thums/ucypher-thum.jpg"},
        { "@@type":"ListItem", "position":2,"url":"https://www.sparkt.in//Content/work/images/thums/ted-thum.jpg"},
        { "@@type":"ListItem", "position":3,"url":"https://www.sparkt.in//Content/work/images/thums/hsubh-thum.jpg"},
        { "@@type":"ListItem", "position":4,"url":"https://www.sparkt.in//Content/work/images/thums/ikyawann-thum.jpg"}
        ]
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "PostalAddress",
        "streetAddress": "408, Satellite Gazebo, Andheri-Ghatkopar Link Road, Chakala, Andheri (East), Mumbai, Maharashtra 400093",
        "addressLocality": "Andheri",
        "postalCode": "400093",
        "addressCountry": "INDIA"
        }
    </script>
</head>
<body>
    @if (ViewBag.Page == "Home")
    {
        <div class="content--intro">
            <div class="content__inner">
                <div class="intro-blk">
                    <span class="intro-logo"><img src="~/Content/images/spakt.png" alt="sparkt"></span>
                    <ul class="intro-nav">
                        <li><a href="#offering"><span>Consulting</span></a></li>
                        <li><a href="#offering"><span>Communication</span></a></li>
                        <li><a href="#offering"><span>Content</span></a></li>
                        <li><a href="#offering"><span>Platforms</span></a></li>
                        <li><a href="#offering"><span>Experiences</span></a></li>
                        <li><a href="#offering"><span>Marketing Sciences</span></a></li>
                    </ul>
                </div>
                @*<a href="javascript:void(0);" class="enter">Explore Sparkt</a>*@
                <div class="scrollPage scrollUp">
                    <div class="mouse"></div>
                    <p>Explore</p>
                </div>
            </div>
        </div>
    }
    <header>
        <a href="/" class="sparkt-logo"> <img src="~/Content/images/spaktLogo.png" alt="Sparkt" /> <img src="~/Content/images/spaktLogo-text.png" alt="Sparkt" class="sparkt-text" /> </a>
        <div class="hamburger">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>

        <div class="main-menu ">

            <ul class="menu-ul scroll-content">
                <li class="main-nav"><a class="hashScroll" href="#home"><span>Home</span></a> </li>
                <li class="main-nav">
                    <a class="hashScroll" href="#we"><span>We</span></a>
                    <ul class="sub-nav">
                        <li><a class="hashScroll" href="#culture"><span>Culture</span></a></li>
                        <li><a class="hashScroll" href="#offering"><span>Offering </span></a></li>
                        <li><a class="hashScroll" href="#squad"><span>Squad</span></a></li>
                        <li><a class="hashScroll" href="#accolades"><span>Accolades</span></a></li>
                    </ul>
                </li>
                <li class="main-nav"><a class="hashScroll" href="#clients"><span>Clients</span></a> </li>
                <li class="main-nav">
                    <a class="hashScroll" href="#work"><span>Work</span></a>
                    <ul class="sub-nav">
                        <li><a class="hashScroll" href="#showreel"><span>Showreel</span></a></li>
                    </ul>
                </li>
                <li class="main-nav"><a class="hashScroll" href="#sparktlive"><span>Sparkt Live</span></a> </li>
                <li class="main-nav"><a class="hashScroll" href="#contact"><span>Get In Touch</span></a> </li>
            </ul>

        </div>
    </header>
    <div class="se-pre-con">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
        </div>
    </div>

    @RenderBody()

    <footer>

        <div class="we-love-brands">

            <div class="text-anim">
                <p>We <i class="fa fa-heart hvr-bounce-in"></i></p>
                <p>
                    <span class="word ">Brands</span>
                    <span class="word ">Data</span>
                    <span class="word ">Craft</span>
                    <span class="word ">Change</span>
                    <span class="word ">People</span>
                    <span class="word ">Culture</span>
                    <span class="word ">Conversations</span>
                </p>
            </div>

        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <a href="#home" class="hvr-trim hashScroll">
                        <img src="~/Content/images/home.jpg" alt="" />
                        <span class="caption">Home</span>

                    </a>
                </li>
                <li>
                    <a href="#we" class="hvr-trim hashScroll">
                        <img src="~/Content/images/we.jpg" alt="" />
                        <span class="caption">We</span>

                    </a>
                </li>
                <li>
                    <a href="#clients" class="hvr-trim hashScroll">
                        <img src="~/Content/images/future.jpg" alt="" />
                        <span class="caption">Clients</span>

                    </a>
                </li>
                <li>
                    <a href="#work" class="hvr-trim hashScroll">
                        <img src="~/Content/images/work.jpg" alt="" />
                        <span class="caption">Work</span>

                    </a>
                </li>
                <li>
                    <a href="#sparktlive" class="hvr-trim hashScroll">
                        <img src="~/Content/images/sparhtLive.jpg" alt="" />
                        <span class="caption">Sparkt Live</span>

                    </a>
                </li>
                <li>
                    <a href="#contact" class="hvr-trim hashScroll">
                        <img src="~/Content/images/contact.jpg" alt="" />
                        <span class="caption">Get In Touch</span>

                    </a>
                </li>
            </ul>
        </div>

        @*<a class="waves-effect waves-light btn modal-trigger" href="#thanks" style="position: fixed; left: 0; top: 0; z-index: 999999; display: none; ">Modal</a>*@
        <!-- Modal Structure -->
        <div id="divThankYouModal" class="modal thanks-modal">
            <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green" id="btnThankyouClose">X</a>
            <div class="modal-content">
                <span class="thanks-icon"><i class="far fa-smile"></i></span>
                <p id="pThankYouMessage"></p>
            </div>
        </div>
        @*<div class="overlay-wrapp"></div>*@
        @*<div id="divThankYouModal" class="modal thank-u-modal">
            <div class="modal-content  ">
                <figure>
                    <span class="icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                    <figcaption>
                        @*<span class="title">Thank You!</span>*@
        @*<p id="pThankYouMessage"></p>
                        </figcaption>
                    </figure>
                </div>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="btnThankyouClose">X</a>
            </div>*@


        <div id="divCommonMessage" class="modal thank-u-modal">
            <div class="modal-content  ">
                <figure>
                    <span class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></i></span>
                    <figcaption>
                        @*<span class="title">Alert!</span>*@
                        <p id="pMessage"></p>
                    </figcaption>
                </figure>
            </div>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="btnCommonMessageClose">X</a>
        </div>

        <div class="footer-band">
            <div class="social-links">
                <ul>
                    <li><a href="https://www.facebook.com/sparktindia" target="_blank" class="hvr-rectangle-out facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="http://www.twitter.com/sparktindia" target="_blank" class="hvr-rectangle-out twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/c/SparktIndia" target="_blank" class="hvr-rectangle-out youtube"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://plus.google.com/+SparktIn" target="_blank" class="hvr-rectangle-out google"><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="revent-logo"><!--<span><img src="images/revent-logo.png" alt="Revent"/></span>--></div>
            <div class="copyright"><span>Copyright © 2017-18 Sparkt Pvt. Ltd.</span></div>

        </div>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--  Scripts-->
    @*<script type="text/javascript" src="~/Content/js/jquery-3.1.1.min.js"></script>*@
    @*<script type="text/javascript" src="~/Content/plugins/intro-page/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="~/Content/plugins/intro-page/js/charming.min.js"></script>
        <script type="text/javascript" src="~/Content/plugins/intro-page/js/anime.min.js"></script>
        <script type="text/javascript" src="~/Content/plugins/intro-page/js/demo1.js"></script>*@
    <script type="text/javascript" src="~/Content/plugins/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/malihu-pagescroll/js/jquery.malihu.PageScroll2id.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/malihu-custom-scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/tabs-accordion/js/easy-responsive-tabs.js"></script>
    <script type="text/javascript" src="~/Content/plugins/mediaelementplayer/js/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/mediaelementplayer/js/airplay.min.js"></script>
    @*<script type="text/javascript" src="~/Content/plugins/tooltipster/js/tooltipster.bundle.js"></script>*@
    <script type="text/javascript" src="~/Content/js/text-animation.js"></script>
    <script type="text/javascript" src="~/Content/plugins/backgroundVideo/js/backgroundVideo.js"></script>
    <script type="text/javascript" src="~/Content/plugins/scrollmagic/js/lib/greensock/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/scrollmagic/js/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/scrollmagic/js/plugins/animation.gsap.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/scrollmagic/js/plugins/debug.addIndicators.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/swiper-4.2.6/js/swiper.min.js"></script>
    <script type="text/javascript" src="~/Content/js/functions.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/User/SparktHelper.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.se-pre-con').delay(1700).fadeOut('slow');
        });

        $(document).ready(function () {
            if (location.href.includes('?')) {
                history.pushState({}, null, location.href.split('?')[0]);
            }
            if (pageSection == 'Work' || pageSection == 'clients' || pageSection == 'We' || pageSection == 'SparktLive' || pageSection == 'Contact') {
                location.hash = "#" + pageSection.toLowerCase();
                callback();
            }
        });


        function callback() {
            setTimeout(function () {
                $(".content--intro").addClass("open-page");
            }, 1000);
        }

    </script>



</body>
</html>
