
<div class="work-navigation" id="work-navigation">
    <div class="client-works">
        <ul id="mahindra" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("MahindraTah","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/tah-thum.jpg" alt="" /> <span>Kar Bachat Yojana</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("MahindraMF","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mmf-thum.jpg" alt="" /> <span>MAHINDRA MUTUAL FUND</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="3"><a href="@Url.Action("MahindraNfoLaunches","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mmf-info-thum.jpg" alt="" /> <span>MMF NFO Launches</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="4"><a href="@Url.Action("MahindraBadhatYojana","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/badhat-yojana-thum.jpg" alt="" /> <span>MMF BADHAT YOJANA</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="5"><a href="@Url.Action("MahindraUnnati","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mahindra-unnati-thum.jpg" alt="" /> <span>UNNATI EMERGING BUSINESS YOJANA</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="6"><a href="@Url.Action("TextMoji","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/textmoji-thum.jpg" alt="" /> <span>MMF TEXTMOJI</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="7"><a href="@Url.Action("MahindraPragatiYojana","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mmf-pragati-yojana-thum.jpg" alt="" /> <span>Mahindra Pragati Yojana</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="8"><a href="@Url.Action("MahindraRuralBharat","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mahindra-rural-bharat-thum.jpg" alt="" /> <span>Mahindra Rural Bharat</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="8"><a href="@Url.Action("mahindra-top-nfo","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mmf-top250.jpg" alt="" /> <span>TOP 250 NIVESH YOJANA</span> </a> </li>
        </ul>

        <ul id="pandg" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("seven-seas","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/seven-seas.jpg" alt="" /> <span>Seven Seas</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("seven-seas-ar","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/seven-seas-ar.jpg" alt="" /> <span>Seven Seas Ar</span> </a> </li>
        </ul>


        <ul id="starplus" class="horizontalScroll">


            <li class="fadeRight t-animated" data-t-show="31"><a href="@Url.Action("ted-ar-innovation","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ted-ar.jpg" alt="" /> <span>Ted Ar Innovation</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="31"><a href="@Url.Action("ted2019","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ted-talks-nai-baat.jpg" alt="" /> <span>Ted Talks Nayi Baat</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="30"><a href="@Url.Action("TheVoice","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/thevoice-thum.jpg" alt="" /> <span>The Voice</span> </a> </li>


            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("NayiSoch","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/nayosoch-thum.jpg" alt="" /> <span>Nayi Soch</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("Ted","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ted-thum.jpg" alt="" /> <span>TED TALKS INDIA</span> </a> </li>


            <li class="fadeRight t-animated" data-t-show="4"><a href="@Url.Action("KZK","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/kzk-thum.jpg" alt="" /> <span>Kasauti Zindagi ki</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="5"><a href="@Url.Action("KZK-AR","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/kzk-ar-thum.jpg" alt="" /> <span>Kasauti Zindagi ki AR</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="6"><a href="@Url.Action("kullfimissedcall","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/kulfi-missed-call-thum.jpg" alt="" /> <span>Kulfi Missed Call</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="7"><a href="@Url.Action("star-plus-brand-refresh","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/start-brand-refresh-thum.jpg" alt="" /> <span>Star Brand Refresh</span> </a> </li>




            <li class="fadeRight t-animated" data-t-show="8"><a href="@Url.Action("TedGoogleCards","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ted-google-cards-thum.jpg" alt="" /> <span>TED GOOGLE CARDS</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="9"><a href="@Url.Action("NachBaliye8","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/nach-baliye-8-thum.jpg" alt="" /> <span>Nach Baliye 8</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="10"><a href="@Url.Action("HSPubh","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/hsubh-thum.jpg" alt="" /> <span>HAR SHAAKH PE ULLU BAITHAA HAI</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="11"><a href="@Url.Action("Kullfi","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/kullfi-thum.jpg" alt="" /> <span>KULFI</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="12"><a href="@Url.Action("Khichdi","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/khichadi-thum.jpg" alt="" /> <span>KHICHDI</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="13"><a href="@Url.Action("Vyng","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/vyng-thum.jpg" alt="" /> <span>VYNG</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="14"><a href="@Url.Action("Tgilc","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/tgilc-thums.jpg" alt="" /> <span>TGILC</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="15"><a href="@Url.Action("Pow","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/pow-thum.jpg" alt="" /> <span>'POW' Bandhi Yuddh ke</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="16"><a href="@Url.Action("JungleBook","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/junglebook-thum.jpg" alt="" /> <span>The Jungle Book</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="17"><a href="@Url.Action("Dhoni","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ms-dhoni-thum.jpg" alt="" /> <span>M.S. Dhoni</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="18"><a href="@Url.Action("WomensDay","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/womens-day-thum.jpg" alt="" /> <span>Women's Day</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="19"><a href="@Url.Action("MadeByMom","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/mouthers-day-thum.jpg" alt="" /> <span>Made By Mom</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="20"><a href="@Url.Action("IshqBaaaz","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ishqbaaaz-thum.jpg" alt="" /> <span>Ishqbaaaz</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="21"><a href="@Url.Action("DancePlus2","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/danceplus-thum.jpg" alt="" /> <span>Dance+2</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="22"><a href="@Url.Action("Ikyawann","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ikyawann-thum.jpg" alt="" /> <span>Ikyawann</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="23"><a href="@Url.Action("Baaghi2","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/bhaghi-2-thum.jpg" alt="" /> <span>Baaghi 2</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="25"><a href="@Url.Action("DivyaDrishtiInnovation","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/divya-drishti-innovation-thum.jpg" alt="" /> <span>Divya Drishti Innovation</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="26"><a href="@Url.Action("KarnSangini","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/karn-sangini-thum.jpg" alt="" /> <span>Karn Sangini</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="27"><a href="@Url.Action("Nazar","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/nazar-thum.jpg" alt="" /> <span>Nazar</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="28"><a href="@Url.Action("Sanju","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/sanju-thum.jpg" alt="" /> <span>Sanju</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="29"><a href="@Url.Action("Stree","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/stree-thum.jpg" alt="" /> <span>Stree</span> </a> </li>

            <!--  <li class="fadeRight t-animated" data-t-show="10"><a href="ted.php" class="hvr-grow-shadow"><img src="images/thums/ted-thum.jpg" alt=""/> <span>Ted Talks</span> </a> </li>

              <li class="fadeRight t-animated" data-t-show="11"><a href="kullfi.php" class="hvr-grow-shadow"><img src="images/thums/kullfi-thum.jpg" alt=""/> <span>Kullfi</span> </a> </li>
              <li class="fadeRight t-animated" data-t-show="12"><a href="hsubh.php" class="hvr-grow-shadow"><img src="images/thums/hsubh-thum.jpg" alt=""/> <span>HAR SHAAKH PE ULLU BAITHAA HAI</span> </a> </li>	-->
        </ul>
        <ul id="star" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("Swp","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/swp-thum.jpg" alt="" /> <span>Star Writers Program</span> </a> </li>
        </ul>
        <ul id="editage" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("EditageInsights","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/editage-thum.jpg" alt="" /> <span>Editage Insights</span> </a> </li>
        </ul>
        <ul id="piramal" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("PiramalCapital","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/piramalcapital-thum.jpg" alt="" /> <span>Piramal Capital</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("Phfl","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/phfl-thum.jpg" alt="" /> <span>Piramal Housing</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="3"><a href="@Url.Action("brickex","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/brickex-thum.jpg" alt="" /> <span>Brickex</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="4"><a href="@Url.Action("IndiaRF","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/india-rf-thum.jpg" alt="" /> <span>India RF</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="5"><a href="@Url.Action("Pchf","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/pchf-thum.jpg" alt="" /> <span>Piramal Capital Housing Finance</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="6"><a href="@Url.Action("piramalfoundation","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/piramal-foundation-thum.jpg" alt="" /> <span>Piramal Foundation</span> </a> </li>
        </ul>
        <ul id="usports" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("USports","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/usports-thum.jpg" alt="" /> <span>USports</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("UCypher","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ucypher-thum.jpg" alt="" /> <span>UCypher</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="3"><a href="@Url.Action("USportsScratch","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/usports-scratch-thum.jpg" alt="" /> <span>USports Scratch</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="4"><a href="@Url.Action("UCypherUseOfData","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ucypher-thum.jpg" alt="" /> <span>USports Use of Data</span> </a> </li>
            <li class="fadeRight t-animated" data-t-show="5"><a href="@Url.Action("USportsHamburger","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/usports-hamburger-thum.jpg" alt="" /> <span>USports Hamburge</span> </a> </li>
        </ul>
        <ul id="oneplus" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("OnePlus","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/oneplus-thum.jpg" alt="" /> <span>One Plus</span> </a> </li>
        </ul>
        <ul id="dubsmash" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("Dubsmash","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/dubsmash-thum.jpg" alt="" /> <span>Dubsmash</span> </a> </li>
        </ul>
        @*<ul id="pedderjohnson" class="horizontalScroll">
                <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("Pedderjohnson","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/pedderjohnson-thum.jpg" alt="" /> <span>Pedder Johnson</span> </a> </li>
            </ul>*@
        <ul id="yaarii" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("Yaarii","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/yaarii-thum.jpg" alt="" /> <span>Yaarii</span> </a> </li>
            @*<li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("yaarii-website","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/yaarii-website-thum.jpg" alt="" /> <span>Yaarii Website</span> </a> </li>*@
            <li class="fadeRight t-animated" data-t-show="2"><a href="@Url.Action("yaarii-films","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/yaarii-film-thum.jpg" alt="" /> <span>Yaarii Film</span> </a> </li>
        </ul>
        @*<ul id="boutique" class="horizontalScroll">
                <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("bql","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/boutique-thum.jpg" alt="" /> <span>Boutique Living</span> </a> </li>
            </ul>*@
        @*<ul id="mgage" class="horizontalScroll">
               <li class="fadeRight t-animated" data-t-show="1"><a href="m-gage.php" class="hvr-grow-shadow"><img src="images/thums/mGage-thum.jpg" alt=""/> <span>mGage</span> </a> </li>
             </ul>
            <ul id="times-network" class="horizontalScroll">
              <li class="fadeRight t-animated" data-t-show="1"><a  class="hvr-grow-shadow"><img src="images/thums/nach-baliye-8-thum.jpg" alt=""/> <span>Times Network</span> </a> </li>
            </ul>*@
        <ul id="indiabulls" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("sky","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/sky-thum.jpg" alt="" /> <span>Sky</span> </a> </li>

        </ul>
        <ul id="nutrela" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("nutrela","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/ruchi-soya-thum.jpg" alt="" /> <span>Nutrela</span> </a> </li>
        </ul>

        <ul id="birlawhiteputty" class="horizontalScroll">
            <li class="fadeRight t-animated" data-t-show="1"><a href="@Url.Action("birla-white-repaint-putty","work")" class="hvr-grow-shadow"><img src="~/Content/work/images/thums/birla-wall-putty-thum.jpg" alt="" /> <span>Birla White Repaint Putty</span> </a> </li>
        </ul>

    </div>
    <div class="clear"></div>
    <ul class="work-with-clients" id="work-with-clients">

        <span class="prev" id="slideBack"> <i class="fa fa-angle-left" aria-hidden="true"></i> </span>
        <span class="next" id="slide"> <i class="fa fa-angle-right" aria-hidden="true"></i> </span>


        <li class="mahindra"><a data-related="mahindra" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/mahindra.png" alt="" /></a> </li>
        <li class="star-plus"><a data-related="starplus" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/starplus.png" alt="" /></a> </li>
        <li class="star"><a href="" data-related="star" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/star.png" alt="" /></a> </li>
        <li class="yaarii"><a data-related="yaarii" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/yaarii.png" alt="" /></a> </li>

        <li class="png-health"><a href="" data-related="pandg" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/p-and-g.png" alt="" /></a> </li>
        <li class="usports"><a href="" data-related="usports" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/usports.png" alt="" /></a> </li>

        <li class="dubsmash"><a href="" data-related="dubsmash" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/dubsmash.png" alt="" /></a> </li>
        @*<li class="pedderjohnson"><a  data-related="pedderjohnson" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/pedderjohnson.png" alt="" /></a> </li>*@

        <li class="indiabulls"><a data-related="indiabulls" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/indiabulls.png" alt="" /></a> </li>

        <li class="piramal"><a data-related="piramal" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/piramal.png" alt="" /></a> </li>

        <li class="one-plus"><a data-related="oneplus" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/oneplus.png" alt="" /></a> </li>
        <li class="editage"><a data-related="editage" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/editage.png" alt="" /></a> </li>

        <li class="nutrela"><a data-related="nutrela" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/nutrela.png" alt="" /></a> </li>
        <li class="birlawhiteputty"><a data-related="birlawhiteputty" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/birla-white.png" alt="" /></a> </li>
        @*<li class="dubsmash"><a  data-related="dubsmash" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/dubsmash.png" alt="" /></a> </li>
            <li class="pedderjohnson"><a  data-related="pedderjohnson" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/pedderjohnson.png" alt="" /></a> </li>
            <li class="yaarii"><a  data-related="yaarii" class="hvr-rectangle-out"><img src="~/Content/work/images/clients/yaarii.png" alt="" /></a> </li>*@


    </ul>
</div>

<script>
    var button = document.getElementById('slide');
    button.onclick = function () {
        var container = document.getElementById('work-with-clients');
        sideScroll(container, 'right', 25, 100, 10);
    };

    var back = document.getElementById('slideBack');
    back.onclick = function () {
        var container = document.getElementById('work-with-clients');
        sideScroll(container, 'left', 25, 100, 10);
    };

    function sideScroll(element, direction, speed, distance, step) {
        scrollAmount = 0;
        var slideTimer = setInterval(function () {
            if (direction == 'left') {
                element.scrollLeft -= step;
            } else {
                element.scrollLeft += step;
            }
            scrollAmount += step;
            if (scrollAmount >= distance) {
                window.clearInterval(slideTimer);
            }
        }, speed);
    }

</script>

